#webcam-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 50px;
}

#webcam {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    transform: scaleX(-1);
    border: 2px solid #E63946;
    border-radius: 10px;
}

#overlay {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    display: none;
}

#stickers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 10px 50px;
}

#stickers-container img {
    width: 100px;
    height: auto;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#category-title {
    text-align: center;
    font-family: "Knewave", system-ui;
    color: #E63946;
    font-size: 2rem;
}

#category-dropdown {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#category-select {
    background-color: #E63946;
    border-color: #E63946;
    width: 150px;
    height: 40px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    justify-content: center;
}