:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signin-form {
    text-align: center;
}

.centered-link {
    display: block;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.signin-form input,
.signin-form button {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}

.signin-form input {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    background-color: #E63946;
    border: unset;
    font-family: "Poppins", sans-serif;
    color: #F1FAEE;
    font-size: larger;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
    transition: transform 0.1s;
}

a {
    color: black;
    text-decoration: none;
    font-size: smaller;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#error-form {
    color: red;
    font-size: smaller;
    display: flex;
}

.infos-form {
    display: flex;
    justify-content: space-between;
}